# Data

In [1]:
import os

import urllib.request
import pandas as pd
import numpy as np
import tmdbsimple as tmdb
from IPython.display import display, HTML, Image

### For img scraping
from lib.utility import tmdb_img_download,display_images,cosine_matrix

### For deep learning feature extraction
from lib.extractor import ImgExtractor

from IPython.display import display

from scipy import sparse
import pyspark
from pyspark.sql import SQLContext
from pyspark.mllib.recommendation import ALS,MatrixFactorizationModel, Rating
from concurrent.futures import ProcessPoolExecutor, ThreadPoolExecutor
import multiprocessing
from multiprocessing import Process, Manager

/Users/zili/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

### Rating data

In [2]:
"""movie rating data: Only run it one time""" 

ratingUrl = "http://files.grouplens.org/datasets/movielens/ml-latest-small.zip"
urllib.request.urlretrieve(ratingUrl,"data/ml-latest-small.zip")
os.system("unzip -a -n data/ml-latest-small.zip -d data/")
os.listdir("data/")

['.DS_Store', 'ml-latest-small.zip', 'ml-latest-small', 'poster']

### Poster data

In [3]:
### Poster data
id = 505
tmdbPath = 'http://image.tmdb.org/t/p/w185/' # check https://developers.themoviedb.org/3/getting-started/image-languages

key_v3 = '10f40f0d5d794e4bacb266188128a896'
tmdb_connector = tmdb
tmdb_connector.API_KEY = key_v3

movieInfo = tmdb.Movies(id).info()
# print(movieInfo)
posterPath = movieInfo['poster_path']
fullPath = tmdbPath + posterPath
# print(fullPath)
# display_images(id=600,path_db=path_db)

In [4]:
# os.path.join(os.getcwd(),"data/poster/{}.jpg".format(id))
urllib.request.urlretrieve(fullPath, "data/poster/{}.jpg".format(id))

('data/poster/505.jpg', <http.client.HTTPMessage at 0x10cd86198>)

### Show data

In [5]:
images = ''

images += "<img style='width: 100px; margin: 0px; \
        float: left; border: 1px solid black;' src='%s' />" \
        % fullPath

display(HTML(images))

# Part 1: Recommendation based on movie rating data
#### Tools: Spark, ALS model

In [6]:
rating_df = pd.read_csv('data/ml-latest-small/ratings.csv')
linkes_df = pd.read_csv('data/ml-latest-small/links.csv')

df_merged = pd.merge(rating_df,linkes_df,on=['movieId'])
df_merged.dropna(how="any",inplace=True)
df_merged['tmdbId'] = [int(x) for x in df_merged.tmdbId]
print(df_merged.head())
print(df_merged.shape)

   userId  movieId  rating   timestamp  imdbId  tmdbId
0       1        1     4.0   964982703  114709     862
1       5        1     4.0   847434962  114709     862
2       7        1     4.5  1106635946  114709     862
3      15        1     2.5  1510577970  114709     862
4      17        1     4.5  1305696483  114709     862
(100823, 6)

In [7]:
len(df_merged.tmdbId.unique())

9715

In [8]:
"""Generate Rating matrix""" 
df_rating = df_merged[['userId','tmdbId','rating']]
df_rating.head()

   userId  tmdbId  rating
0       1     862     4.0
1       5     862     4.0
2       7     862     4.5
3      15     862     2.5
4      17     862     4.5

In [9]:
"""Create SparkContext"""
sc = pyspark.SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [10]:
"""Create Spark dataframe"""
df_spark = sqlContext.createDataFrame(df_rating)
df_spark.printSchema()

root
 |-- userId: long (nullable = true)
 |-- tmdbId: long (nullable = true)
 |-- rating: double (nullable = true)

In [11]:
df_spark.head(5)

[Row(userId=1, tmdbId=862, rating=4.0),
 Row(userId=5, tmdbId=862, rating=4.0),
 Row(userId=7, tmdbId=862, rating=4.5),
 Row(userId=15, tmdbId=862, rating=2.5),
 Row(userId=17, tmdbId=862, rating=4.5)]

In [12]:
"""Train ALS model """
rank = 5
numIterations = 10
model = ALS.train(df_spark, rank, numIterations)

### ALS: One of Collabrative filtering 

#1 User features S

#2 bridge        V

#3 Product       D

In [13]:
"""Recommendation based on Users & Products"""
display('features for product one', model.productFeatures().first())
display('features for user one',model.userFeatures().first())

# For Product X, Find N Users to Sell To
productForUser = model.recommendUsers(242,10)
print("Top 10 moive recommendations for user 242: \n")
display(productForUser)

# For User Y Find N Products to Promote
userForProduct = model.recommendProducts(196,10)
print("Top 10 users to recommend for product 196")
display(userForProduct)

# Predict ratings
ratingPredict= model.predict(196,242)
print("prediction of rate for User 196 --> movie 242")
display(ratingPredict)

productFeatures = model.productFeatures()

'features for product one'

(16,
 array('d', [3.310121536254883, 0.4654504656791687, 1.167807698249817, 0.4197458028793335, -0.7567285895347595]))

'features for user one'

(8,
 array('d', [0.3368377387523651, 1.1229897737503052, 0.06548604369163513, -1.1799126863479614, -0.10284101963043213]))

Top 10 moive recommendations for user 242:

[Rating(user=197, product=242, rating=5.304480973911692),
 Rating(user=543, product=242, rating=5.281337931425638),
 Rating(user=53, product=242, rating=5.219841377152572),
 Rating(user=276, product=242, rating=5.0326547707896285),
 Rating(user=130, product=242, rating=4.969749880493975),
 Rating(user=413, product=242, rating=4.961759087180705),
 Rating(user=494, product=242, rating=4.934886006319921),
 Rating(user=92, product=242, rating=4.895501165461492),
 Rating(user=162, product=242, rating=4.894090989016076),
 Rating(user=127, product=242, rating=4.888482917438072)]

Top 10 users to recommend for product 196

[Rating(user=196, product=62215, rating=15.389093776936207),
 Rating(user=196, product=11337, rating=13.504014434024938),
 Rating(user=196, product=10937, rating=13.38470019294921),
 Rating(user=196, product=8766, rating=12.841970982151164),
 Rating(user=196, product=81796, rating=12.77287059602358),
 Rating(user=196, product=26317, rating=12.085729238941493),
 Rating(user=196, product=17745, rating=11.594710376727903),
 Rating(user=196, product=179144, rating=11.539015361647948),
 Rating(user=196, product=24266, rating=11.286366718534119),
 Rating(user=196, product=10646, rating=11.036652072424218)]

prediction of rate for User 196 --> movie 242

4.067075144922935

### Evaluation

In [14]:
"""Get Mean Square Error"""
# True:4.6 pred:5, cost: 0.4**2

# Background: ALS: 1 sparse matrix, 2 only a few rating 3 based on few rating --> get all rating
# Sparse matrix: row:user, column: movie id, eg: 600 user, 100,00 movie rating, 4000 rating (ground truth), 6))*100,000   
# Train process: 1. calculate all rating. 

# Interview: Decomposed based, decompose to user feature, project feature & transformation matrix

'Get Mean Square Error'

# Recommendation based on Posters (CNN)

In [15]:
"""Download poster data for tmdb movies"""

tmdbIds = df_spark.select('tmdbId').distinct().collect()
tmdbIdsPool = set([x.asDict()['tmdbId'] for x in tmdbIds])

In [16]:
len(tmdbIdsPool)

9715

In [18]:
def helper(id):
    tmdbPath = 'http://image.tmdb.org/t/p/w185/' # check https://developers.themoviedb.org/3/getting-started/image-languages

    movieInfo = tmdb.Movies(id).info()
    # print(movieInfo)
    posterPath = movieInfo['poster_path']
    fullPath = tmdbPath + posterPath
    urllib.request.urlretrieve(fullPath, "data/poster/{}.jpg".format(id))
    print(id,"downloaded successfully")

In [ ]:
notAvailable = []
for id in tmdbIdsPool:
    try:
        tmpPath = helper(id)
    except:
        notAvailable.append(id)
        print(id)

In [19]:
"""Scrape movie poster from restful API with multiprocess"""
with ThreadPoolExecutor(max_workers=10) as ex:
    ex.map(lambda x: helper(x),tmdbIdsPool)

14 downloaded successfully
12 downloaded successfully
5 downloaded successfully
16 downloaded successfully
2 downloaded successfully
15 downloaded successfully
13 downloaded successfully
11 downloaded successfully
6 downloaded successfully
65550 downloaded successfully
18 downloaded successfully
19 downloaded successfully
24 downloaded successfully
20 downloaded successfully
25 downloaded successfully
21 downloaded successfully
33 downloaded successfully
28 downloaded successfully
3522  downloaded successfully
downloaded successfully
38 downloaded successfully
196649 downloaded successfully
294963 downloaded successfully
58 downloaded successfully
32823 downloaded successfully
55 downloaded successfully
65595 downloaded successfully
63 downloaded successfully
62 downloaded successfully
59 downloaded successfully
64 downloaded successfully
65 downloaded successfully
32836 downloaded successfully
67 downloaded successfully
66 downloaded successfully
69 downloaded successfully
68 downloaded successfully
71 downloaded successfully
70 downloaded successfully
73 downloaded successfully
1498 downloaded successfully
34280 downloaded successfully
1497 downloaded successfully
1499 downloaded successfully
34283 downloaded successfully
1523 downloaded successfully
230896 downloaded successfully
34299 downloaded successfully
67067 downloaded successfully
34300 downloaded successfully
1537 downloaded successfully
1535 downloaded successfully
1541 downloaded successfully
1538 downloaded successfully
34314 downloaded successfully
1542 downloaded successfully
1547 downloaded successfully
1548 downloaded successfully
1544 downloaded successfully
1546 downloaded successfully
1552 downloaded successfully
1550 downloaded successfully
1551 downloaded successfully
1553 downloaded successfully
34322 downloaded successfully
1555 downloaded successfully
1554 downloaded successfully
99861 downloaded successfully
34326 downloaded successfully
34327 downloaded successfully
34328 downloaded successfully
1562 downloaded successfully
1563 downloaded successfully
1561 downloaded successfully
1572 downloaded successfully
1571 downloaded successfully
1567 downloaded successfully
34341 downloaded successfully
1574 downloaded successfully
1573 downloaded successfully
4437 downloaded successfully
37191 downloaded successfully
430423 downloaded successfully
4464 downloaded successfully
4442 downloaded successfully
37233 downloaded successfully
4441 downloaded successfully
4474 downloaded successfully
4475 downloaded successfully
37239 downloaded successfully
37244 downloaded successfully
4478 downloaded successfully
4477 downloaded successfully
4480 downloaded successfully
37247 downloaded successfully
4484 downloaded successfully
4482 downloaded successfully
201085 downloaded successfully
4483 downloaded successfully
4485 downloaded successfully
4486 downloaded successfully
201088 downloaded successfully
4488 downloaded successfully
37257 downloaded successfully
37258 downloaded successfully
266647 downloaded successfully
4512 downloaded successfully
70042 downloaded successfully
4497 downloaded successfully
4513 downloaded successfully
4517 downloaded successfully
4515 downloaded successfully
4518 downloaded successfully
4520 downloaded successfully
37291 downloaded successfully
37292 downloaded successfully
4523 downloaded successfully
70061 downloaded successfully
37296 downloaded successfully
37272 downloaded successfully
270400 downloaded successfully
270393 downloaded successfully
8247 downloaded successfully
8265 downloaded successfully
8273 downloaded successfully
8272 downloaded successfully
8270 downloaded successfully
8271 downloaded successfully
8275 downloaded successfully
8274 downloaded successfully
8277 downloaded successfully
41050 downloaded successfully
8284 downloaded successfully
8285 downloaded successfully
8289 downloaded successfully
8290 downloaded successfully
8288 downloaded successfully
41059 downloaded successfully
8293 downloaded successfully
335970 downloaded successfully
8291 downloaded successfully
41058 downloaded successfully
8292 downloaded successfully
335984 downloaded successfully
8321 downloaded successfully
41090 downloaded successfully
8324 downloaded successfully
73861 downloaded successfully
8326 downloaded successfully
8327 downloaded successfully
8328 downloaded successfully
8329 downloaded successfully
8337 downloaded successfully
8333 downloaded successfully
8338 downloaded successfully
8340 downloaded successfully
8342 downloaded successfully
270487 downloaded successfully
106646 downloaded successfully
8346 downloaded successfully
9977 downloaded successfully
42740 downloaded successfully
42738 downloaded successfully
9975 downloaded successfully
9981 downloaded successfully
9980 downloaded successfully
9982 downloaded successfully
42750 downloaded successfully
141052 downloaded successfully
9986 downloaded successfully
9988 downloaded successfully
9989 downloaded successfully
9991 downloaded successfully
337674 downloaded successfully
9994 downloaded successfully
10001 downloaded successfully
10003 downloaded successfully
10002 downloaded successfully
10005 downloaded successfully
10008 downloaded successfully
108312 downloaded successfully
10009 downloaded successfully
10012 downloaded successfully
10014 downloaded successfully
10013 downloaded successfully
10016 downloaded successfully
10017 downloaded successfully
10015 downloaded successfully
10019 downloaded successfully
403232 downloaded successfully
10020 downloaded successfully
10022 downloaded successfully
10023 downloaded successfully
10024 downloaded successfully
10021 downloaded successfully
337703 downloaded successfully
10025 downloaded successfully
10028 downloaded successfully
42797 downloaded successfully
42791 downloaded successfully
11447 downloaded successfully
44214 downloaded successfully
11448 downloaded successfully
11450 downloaded successfully
11451 downloaded successfully
11453 downloaded successfully
11452 downloaded successfully
11454 downloaded successfully
240832 downloaded successfully
11455 downloaded successfully
11456 downloaded successfully
11457 downloaded successfully
11460 downloaded successfully
11458 downloaded successfully
11468 downloaded successfully
11465 downloaded successfully
11467 downloaded successfully
11462 downloaded successfully
11459 downloaded successfully
76996 downloaded successfully
11469 downloaded successfully
11471 downloaded successfully
11470 downloaded successfully
44238 downloaded successfully
11472 downloaded successfully
11474 downloaded successfully
77016 downloaded successfully
11475 downloaded successfully
11481 downloaded successfully
11478 downloaded successfully
11482 downloaded successfully
11484 downloaded successfully
11489 downloaded successfully
11490 downloaded successfully
11485 downloaded successfully
44258 downloaded successfully
44264 downloaded successfully
11497 downloaded successfully
11495 downloaded successfully
44251 downloaded successfully
13532 downloaded successfully
13529 downloaded successfully
13531 downloaded successfully
13536 downloaded successfully
13537 downloaded successfully
13533 downloaded successfully
13539 downloaded successfully
13550 downloaded successfully
13549 downloaded successfully
13552 downloaded successfully
13554 downloaded successfully
13555 downloaded successfully
13560 downloaded successfully
13562 downloaded successfully
13572 downloaded successfully
13567 downloaded successfully
13573 downloaded successfully
13580 downloaded successfully
13589 downloaded successfully
13581 downloaded successfully
13590 downloaded successfully
308504 downloaded successfully
13595 downloaded successfully
13596 downloaded successfully
13600 downloaded successfully
308531 downloaded successfully
13597 downloaded successfully
79159 downloaded successfully
13635 downloaded successfully
13632 downloaded successfully
13636 downloaded successfully
13637 downloaded successfully
13641 downloaded successfully
13643 downloaded successfully
13640 downloaded successfully
13647 downloaded successfully
13649 downloaded successfully
46420 downloaded successfully
13654 downloaded successfully
177494 downloaded successfully

16771 downloaded successfully
16780 downloaded successfully
49538 downloaded successfully
278927 downloaded successfully
16784 downloaded successfully
16806 downloaded successfully
49565 downloaded successfully
16820 downloaded successfully
278990 downloaded successfully
16858 downloaded successfully
16859 downloaded successfully
16857 downloaded successfully
16804 downloaded successfully
16866 downloaded successfully
49636 downloaded successfully
16869 downloaded successfully
16885 downloaded successfully
16871 downloaded successfully
16876 downloaded successfully
74998 downloaded successfully
16889 downloaded successfully
16888 downloaded successfully
115199 downloaded successfully
16905 downloaded successfully
49680 downloaded successfully
16933 downloaded successfully
49689 downloaded successfully
16938 downloaded successfully
16934 downloaded successfully
49721 downloaded successfully
16939 downloaded successfully
16909 downloaded successfully
49730 downloaded successfully
16958 downloaded successfully
16941 downloaded successfully
82505 downloaded successfully
16969 downloaded successfully
82507 downloaded successfully
16972 downloaded successfully
246355 downloaded successfully
21641 downloaded successfully
152742 downloaded successfully
21661 downloaded successfully
480409152747 downloaded successfully
 downloaded successfully
21683 downloaded successfully
152760 downloaded successfully
447682 downloaded successfully
21711 downloaded successfully
21710 downloaded successfully
21712 downloaded successfully
152790 downloaded successfully
21721 downloaded successfully
21734 downloaded successfully
21719 downloaded successfully
185567 downloaded successfully
21736 downloaded successfully
21755 downloaded successfully
54507 downloaded successfully
185574 downloaded successfully
54527 downloaded successfully
21764 downloaded successfully
21811 downloaded successfully
54568 downloaded successfully
54546 downloaded successfully
21784 downloaded successfully
54580 downloaded successfully
21828 downloaded successfully
316727 downloaded successfully
21832 downloaded successfully
447818 downloaded successfully
21845 downloaded successfully
21849 downloaded successfully
251232 downloaded successfully
283995 downloaded successfully
21866 downloaded successfully
21873 downloaded successfully
21867 downloaded successfully
21868 downloaded successfully
382322 downloaded successfully
27327 downloaded successfully
27331 downloaded successfully
27332 downloaded successfully
27329 downloaded successfully
27362 downloaded successfully
158413 downloaded successfully
27352 downloaded successfully
27360 downloaded successfully
27367 downloaded successfully
27397 downloaded successfully
256740 downloaded successfully
27390 downloaded successfully
27412 downloaded successfully
125709 downloaded successfully
27414 downloaded successfully
27418 downloaded successfully
27431 downloaded successfully
27430 downloaded successfully
27437 downloaded successfully
387893 downloaded successfully
27444 downloaded successfully
27451 downloaded successfully
27458 downloaded successfully
27459 downloaded successfully
27452 downloaded successfully
27460 downloaded successfully
27472 downloaded successfully
27461 downloaded successfully
27475 downloaded successfully
60243 downloaded successfully
420707 downloaded successfully
60285 downloaded successfully
60293 downloaded successfully
256876 downloaded successfully
60276 downloaded successfully
27526 downloaded successfully
224141 downloaded successfully
60304 downloaded successfully
60307 downloaded successfully

In [23]:
posterIds = os.listdir('data/poster/')

extractor = ImgExtractor(model="VGG16")

In [25]:
len(posterIds)

400

In [27]:
features = extractor.get_features("data/poster/505.jpg")

load Image locally

In [29]:
features.shape

(1, 1000)

### Compare similarity
#### Cosine similarity

In [31]:
# you like one poster, find the most similar poster

In [4]:
"""Define function to extract features from folder"""
def helper(id,posterPath):
    pwd = os.getcwd()
    path = os.path.join(pwd,posterPath,str(id))
    filename = os.listdir(path)[0]
    imgPath = os.path.join(path,filename)
    feature = extractor.get_features(imgPath)
    print("Load Image {} success".format(id))
    return feature

In [ ]:
dicFeatures = {}
for id in posterIds:
    dicFeatures[id] = helper(id,posterPath="data/poster")